
.App {
  padding: 2em;
  /* display: grid;
  align-items: center;
  grid-template-rows: 2em 3em 35em; */
}

.dark {
  background-color: rgb(29, 29, 29);
  color: rgb(199, 199, 199);
}

.form-container {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.form-field-row {
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
}
